<BOUCLE_promo(DOCUMENTS){tout}{menu_nav=on}>
<div class='promo'>
<a href="#URL_DESTINATION" class='spip_out'>[(#FICHIER|balise_img{#TITRE}|inserer_attribut{title,#TITRE}|image_reduire{300,0})]</a>
</div>
</BOUCLE_promo>
[(#REM) Menu de navigation par rubriques ]
<INCLURE{fond=inclure/rubriques}{id_rubrique}>

#FORMULAIRE_RECHERCHE
