/**
 * Pouvoir lire dans le menu le lien en on
**/

.nav-link.on:hover, .nav-link.on:active, .nav-link.on:focus{
	background-color: #faf2ec;
}
.nav-link.on a{
	color:white;
}
.nav-link.on a:hover, .nav-link.on a:active, .nav-link.on a:focus{
	background-color:inherit;
}
.nav-link {
	display: flex;
	justify-content: space-between;
}
/** Le livre **/
.promo{
	text-align:center;
	margin-bottom:1em;
}
.promo img{
	max-width:100%;
	height:auto;
	width:auto;
}
.promo a.spip_out::after{
	content:none;
}
/** Tout ce qui est info sur les techniques obsolètes**/

div.obsolete{
       color:darkblue;
       font-size:125%;
       border:2px solid darkblue;
       padding:1em;
       font-weight:bold;
       border-radius:15px;
}
span.obsolete{
       color:darkblue;
       font-style:italic;
}

/**
 * Les logos qui tournent
**/

a .spip_logos:hover{
		 transform:rotate(4deg);
}

/**
 * Les chemins
**/
.breadcrumb ul.breadcrumb {
	padding:0px;
	margin:0px;
}

/**
 * La bio
**/
.bio img {
	float:left;
	margin-bottom:0.5rem;
	margin-right:0.5rem;
}

/**
 * La pagination
**/
nav.pagination {
	margin-top:1rem;
}
/**
 * Ne pas aplatir le code
**/
pre, code {
  white-space: pre-wrap;
}
