<B_art>
<div class="menu articles">
<h4 class="h4"><:articles:></h4>
[<nav class="pagination">(#PAGINATION)</nav>]

<ul class="menu-liste">
	<BOUCLE_art(ARTICLES){id_auteur}{pagination 10}{!par date}>
		<li class="menu-entree"><a href="#URL_ARTICLE">#TITRE</a></li>
	</BOUCLE_art>
</ul>
</div>
</B_art>
