<BOUCLE_articles(ARTICLES) {id_article} {statut?}>
<div class="item hentry">
	<h2 class="h2 entry-title"><a href="[(#INCLURE{fond=inclure/obsolete}{id_article}|?{#URL_ARTICLE|parametre_url{archive,oui},#URL_ARTICLE})]" rel="bookmark">
	[(#INCLURE{fond=inclure/logo-rubrique,id_article}|image_reduire{150})]
		#TITRE</a></h2>
	<div class="info-publi">[<abbr class="published" title="[(#DATE|date_iso)]">[(#DATE|nom_jour) ](#DATE|affdate)</abbr>][<span class='sep'>, </span>
                <span class="auteurs"><:par_auteur:> (#LESAUTEURS)</span>]

	[(#INCLURE{fond=inclure/obsolete}{id_article}|oui)/!\ <span class='obsolete'>Article obsolète</span>]</div>
	[<div class="#EDIT{chapo} introduction entry-content">(#CHAPO*|supprimer_appel_notes|propre)</div>]

	<BOUCLE_nb_commentaires(FORUMS) {id_article}{plat} />	[(#TOTAL_BOUCLE|oui)
		<div class="meta-publi">
		<a href="[(#INCLURE{fond=inclure/obsolete}{id_article}|?{#URL_ARTICLE|parametre_url{archive,oui},#URL_ARTICLE}|ancre_url{forum})]" class="nb_commentaires">[(#TOTAL_BOUCLE)]&nbsp;[(#TOTAL_BOUCLE|=={1}|?{<:zpip:commentaire:>,<:zpip:commentaires:>})]</a>
		</div>]
	<//B_nb_commentaires>

</div>
</BOUCLE_articles>
