<BOUCLE_rubrique(RUBRIQUES){id_rubrique}>


<BOUCLE_sous(RUBRIQUES){id_parent} />
    [(#TOTAL_BOUCLE|>{0}|oui)<p id="sous-rubriques-#ID_RUBRIQUE" class="sous-rubriques"><:geek:sous_rubriques{ancre=menu-rubrique#ID_RUBRIQUE}:></p>]
<//B_sous>


<B_articles_indirects>
<div class="liste articles_indirects">

	#ANCRE_PAGINATION
	<h2 class="h2"><:geek:articles_indirects_rubrique:></h2>
	<div class='meta-publi'>
        [<a href="(#SELF|parametre_url{direct,oui})" class='ajax'><:geek:limiter_direct:></a>]
    </div>
	<div class="liste-items">
		<BOUCLE_articles_indirects(ARTICLES){branche} {!par date} {pagination 5}{si #ENV{direct}|!={oui}}>
		#INCLURE{fond=inclure/article-resume,id_article}
		</BOUCLE_articles_indirects>
	</div>
	[<nav class="pagination">(#PAGINATION)</nav>]
</div>
</B_articles_indirects>

</BOUCLE_test_indirects>

<B_articles_directs>
<div class="liste articles_directs">
	#ANCRE_PAGINATION
	<h2 class="h2"><:geek:articles_directs_rubrique:></h2>
	<div class='meta-publi'>
        [<a href="(#SELF|parametre_url{direct,''})" class='ajax'><:geek:etendre_indirect:></a>]
    </div>
	<ul class="liste-items">
		<BOUCLE_articles_directs(ARTICLES){branche_principale} {!par date} {pagination 5}{si #ENV{direct}|=={oui}}>
		#INCLURE{fond=inclure/article-resume,id_article}
		</BOUCLE_articles_directs>
	</ul>
	[<nav class="pagination">(#PAGINATION)</nav>]
</div>
</B_articles_directs>
	[(#ENV{direct}|=={oui}|oui)<div class='meta-publi'>
        <:geek:aucun_article_direct:>
        |
        [<a href="(#SELF|parametre_url{direct,''})" class='ajax'><:geek:etendre_indirect:></a>]
    </div>
    ]
<//B_articles_directs>
</BOUCLE_rubrique>
