
[(#REM)
	Liste des autres documents joints
]
<B_documents_joints>
	<div class="liste documents documents_joints">
	<h2 class="h2"><:titre_documents_joints:></h2>
	<ul class="liste-items">
		<BOUCLE_documents_joints(DOCUMENTS) {id_article?}{id_rubrique?} {extension !IN gif,jpg,png} {vu=non}{par num titre, date}>[
		<li class="item">
			<strong><a href="(#URL_DOCUMENT)" title="<:bouton_telecharger:>" type="#MIME_TYPE">[(#TITRE|sinon{<:info_document:>})]</a></strong>
			<span class="small">(<span>#TYPE_DOCUMENT[ &ndash; (#TAILLE|taille_en_octets)]</span>)</span>
			#DESCRIPTIF
		]</li>
		</BOUCLE_documents_joints>
	</ul>
	</div>
</B_documents_joints>
