<BOUCLE_article(ARTICLES){id_article}>
[(#REM)<!-- extraire les logos -->]
<BOUCLE_rubrique(RUBRIQUES){id_rubrique}>
    #SET{rubrique,#LOGO_RUBRIQUE}
</BOUCLE_rubrique>

<BOUCLE_secteur(RUBRIQUES){id_secteur}{racine}>
    #SET{secteur,#LOGO_RUBRIQUE}
</BOUCLE_secteur>

<BOUCLE_autre_secteur(RUBRIQUES){parents_indirects}{id_secteur!=#ID_SECTEUR}{0,1}>
<BOUCLE_racine(RUBRIQUES){id_secteur}{racine}>

#SET{autre_secteur,#LOGO_RUBRIQUE}
</BOUCLE_racine>
<//B_racine>
</BOUCLE_autre_secteur>


[(#REM)<!-- calcul des dimensions -->]

#SET{hauteur,#GET{secteur}|hauteur|div{3}|round}
#SET{largeur,#GET{secteur}|largeur|div{2}|round}



[(#REM)<!-- fabrication des images réduites-->]
[(#REM)<!-- Fabrication de l'image finale-->]
[(#GET{rubrique}|=={#GET{secteur}}|non)
    [(#GET{autre_secteur}|non)
        [(#GET{secteur}|image_masque{
        	#GET{rubrique}|image_reduire{#GET{largeur},#GET{hauteur}},
        	mode=normal,
        	text-align=right,
        	vertical-align=bottom})]
    ]
    [(#GET{autre_secteur}|oui)
        [(#GET{secteur}|image_masque{
        	#GET{rubrique}|image_reduire{#GET{largeur},#GET{hauteur}},
        	mode=normal,
        	text-align=right,
        	vertical-align=bottom
        	}|image_masque{
        		#GET{autre_secteur}|image_reduire{#GET{largeur},#GET{hauteur}},
        		mode=normal,
        		text-align=left,
        		vertical-align=top})]
    ]
]

[(#GET{rubrique}|=={#GET{secteur}}|oui)
	[(#GET{autre_secteur}|non)
	    #GET{secteur}
	]
	[(#GET{autre_secteur}|oui)
	    [(#GET{secteur}|image_masque{
	    	#GET{autre_secteur}|image_reduire{#GET{largeur},
	    	#GET{hauteur}},
	    	mode=normal,
	    	text-align=left,
	    	vertical-align=top})]
	]
]
</BOUCLE_article>
