	<B_articles_rubrique>
	<div class="liste articles">
		<h2 class="h2"><a href="#URL_RUBRIQUE"><:meme_rubrique:></a></h2>
		[<nav class='pagination'>(#PAGINATION)</nav>]
		<ul class="liste-items">
			<BOUCLE_articles_rubrique(ARTICLES) {!id_article}{id_rubrique}{id_rubrique >0} {par date}{inverse} {pagination 5}>
			<li class="item"><a href="[(#INCLURE{fond=inclure/obsolete}{id_article}|?{#URL_ARTICLE|parametre_url{archive,oui},#URL_ARTICLE})]">#TITRE</a></li>
			</BOUCLE_articles_rubrique>
		</ul>
			[<nav class='pagination'>(#PAGINATION)</nav>]
	</div>
	</B_articles_rubrique>
