[(#REM)
	Barre de navigation, ouverte sur la hierarchie courante

	On fait un plan, et, quand on avance vers une rubrique,
	on l'affiche si son parent est expose ou est la racine du site. ]
#SET{id_parent,0}
<div class="well">
<B_rubriques>
	<ul class="nav nav-list">
	<BOUCLE_rubriques(RUBRIQUES) {id_parent=#GET{id_parent}} {par num titre, titre}>
	#SET{id_parent,#ID_RUBRIQUE}
		<li class="nav-item #EXPOSE{active}" [(#EXPOSE|oui)id="menu-rubrique-#ID_RUBRIQUE"]>
			<span class="nav-link[ (#EXPOSE)]">
				<a href="#URL_RUBRIQUE" >[(#TITRE|couper{80})]</a>
				<a rel="nofollow" href="#URL_PAGE{backend,id_rubrique=#ID_RUBRIQUE}">[(#CHEMIN{feed.png}|balise_img{<:geek_rss:>}|inserer_attribut{title,<:geek_rss:>})]</a>
			</span>
		<BOUCLE_expose(CONDITION){si #EXPOSE}>
		      <BOUCLE_sous_rub(Boucle_rubriques) />
		</BOUCLE_expose>
		</li>
	</BOUCLE_rubriques>

	</ul>
</B_rubriques>
</div>

