<BOUCLE_comment(FORUMS){id_forum}>
<div class="comment hreview[ (#ID_PARENT|?{reply})]">
<a href="#comment#ID_FORUM" name="comment#ID_FORUM" id="comment#ID_FORUM"></a>
<a href="#forum#ID_FORUM" name="forum#ID_FORUM" id="forum#ID_FORUM"></a>
	<p class="comment-meta">
		[(#CONFIG{comments/permalink}|=={aucun}|non)<a rel="self bookmark" href="#forum#ID_FORUM" title="<:comments:permalink_to:> #ID_FORUM" class="permalink">[(#CONFIG{comments/permalink}|=={picto}|?{[<img src="(#CHEMIN{../img/permalink.gif})" alt="#" />],[(#CONFIG{comments/permalink}|=={compteur}|?{[(#ENV{compteur})<span class="sep">.</span>],#})]})]</a>
		[(#ENV{thread}|oui)[<a rel="in-reply-to" class="permalink in-reply-to" href="#forum(#ID_PARENT|?{#ID_PARENT})">^</a>]]
		]<BOUCLE_auteur(AUTEURS){tout}{id_auteur}>
		[<abbr class="dtreviewed"[ title="(#DATE|date_iso)"]><:comments:date_jour_le:> (#DATE|affdate_jourcourt)[ <:comments:date_heure_a:>&nbsp;(#DATE|heures)][:(#DATE|minutes)]</abbr>][<span class="item reviewer vcard"><span class="sep">, 
</span><:par_auteur:> <a rel="nofollow" href="#URL_AUTEUR" class="url spip_in"><strong class="fn n">(#NOM)</strong></a></span>]
		</BOUCLE_auteur>
		[<abbr class="dtreviewed"[ title="(#DATE|date_iso)"]><:comments:date_jour_le:> (#DATE|affdate_jourcourt)[ <:comments:date_heure_a:>&nbsp;(#DATE|heures)][:(#DATE|minutes)]</abbr>][<span class="item reviewer vcard"><span class="sep">, 
</span><:par_auteur:> [<a rel="external nofollow" href="(#URL_SITE)"[ title="(#NOM_SITE*|attribut_html)"] class="#EDIT{hyperlien} url spip_out">]<strong class="#EDIT{qui} fn 
n">(#NOM|sinon{[(#PLUGIN{gravatar}|oui)?]})</strong>[</a>(#URL_SITE|oui)]</span>]
		<//B_auteur>
	</p>
	<div class="comment-content description">
		[<div class="comment-texte #EDIT{texte}">[(#PLUGIN{gravatar}|oui)[ (#MODELE{gravatar}{email=#EMAIL*})]](#TEXTE|lignes_longues)</div>]
		[<div class="comment-notes">(#NOTES|safehtml|lignes_longues)</div>]
		<B_doc><div class="comment-doc"><BOUCLE_doc(DOCUMENTS){id_forum}>
		[(#EXTENSION|match{'^(gif|jpg|png)$'}|?{
			[(#MODELE{emb}|image_reduire{300})]
		,
			[(#LOGO_DOCUMENT|#URL_DOCUMENT)]
		})]
		</BOUCLE_doc></div></B_doc>
	</div>
	[(#BOUTONS_ADMIN_FORUM)]
</div><!--.comment-->
</BOUCLE_comment> 
