<B_plugins>
<ul class="spip">
	<BOUCLE_plugins(PLUGINS spip_paquets){par multi nom}{auteur==Maïeul|Ma&iuml;eul|Ma&#239;eul|Rouquette}{lien_doc !=''} {compatible_spip 3}>
	<li><a href="#LIEN_DOC">#NOM</a> ([(#VAL{svp:categorie_#CATEGORIE}|_T)])[, <i>(#SLOGAN|PtoBR)</i>]
		#SET{auteurs,#AUTEUR**|unserialize|array_column{nom}}
		<B_coauteurs>
		en collaboration avec
		<BOUCLE_coauteurs(POUR) {tableau #GET{auteurs}} {valeur!==Maïeul|Ma&iuml;eul|Ma&#239;eul|Rouquette} {", "}>#VALEUR</BOUCLE_coauteurs>.</B_coauteurs>
	</li>
	</BOUCLE_plugins>
</ul>
</B_plugins>

