<BOUCLE_sans_id(CONDITION){si #ENV{id_rubrique}|=={-1}}>
<BOUCLE_rubriques(RUBRIQUES){par titre}>

<B_sites>

<h3 class='spip'>[(#LOGO_RUBRIQUE|image_reduire{100}|inserer_attribut{alt,#TITRE}|inserer_attribut{class,''}sinon{#TITRE})]</h3>

<ul class='spip'>
<BOUCLE_sites(SITES){id_rubrique} {par nom_site}{syndication=non}>
	<li><a href="#URL_SITE" class='spip_out'>#NOM_SITE</a></li>
</BOUCLE_sites>
</ul>
</B_sites>
</BOUCLE_rubriques>
</BOUCLE_sans_id>
<BOUCLE_sites2(BOUCLE_sites) />
<//B_sans_id>
