<div class="breadcrumb">
<BOUCLE_article(ARTICLES){id_article}>
    <ul class="breadcrumb">
			<li class="breadcrumb-item"><a href="#URL_SITE_SPIP/"><:accueil_site:></a></li>
			<BOUCLE_ariane(HIERARCHIE){id_article}>
			<li class="breadcrumb-item"><a href="#URL_RUBRIQUE">[(#TITRE|couper{80})]</a></li>
			</BOUCLE_ariane>
			[<li class="breadcrumb-item on active">(#TITRE|couper{80})</li>]
    </ul>
#SET{chemins,#LISTE}
    <BOUCLE_parents(RUBRIQUES){parents_indirects}{par titre}>
    #SET{courant,r#ID_RUBRIQUE}
    #SET{chemin_courant,#LISTE{#ID_RUBRIQUE}}
    #SET{chemins,#GET{chemins}|array_merge{#ARRAY{#GET{courant},#GET{chemin_courant}}}}

        <BOUCLE_rubrique(RUBRIQUES){parents_directs}{par titre}>

            #SET{chemins,#GET{chemins}|array_merge{#ARRAY{#GET{courant}-#ID_RUBRIQUE,#GET{chemin_courant}|push{#ID_RUBRIQUE}}}}
        </BOUCLE_rubrique>
        #SET{chemins,#GET{chemins}|array_merge{#ARRAY{#GET{courant},''}}}
        </B_rubrique>
    </BOUCLE_parents>
    <B_chemins>
    <BOUCLE_chemins(POUR){tableau #GET{chemins}}{valeur!=''}>
    <B_autre_chem>
    <ul class="breadcrumb">
				<li class="breadcrumb-item"><a href="#URL_SITE_SPIP/"><:accueil_site:></a></li>
        <BOUCLE_autre_chem(POUR){tableau #VALEUR|array_reverse}>
				<li class="breadcrumb-item"><a href="#URL_RUBRIQUE{#VALEUR}">[(#INFO_TITRE{rubrique,#VALEUR}|couper{80})]</a></li>
        </BOUCLE_autre_chem>
        <li class="breadcrumb-item on active">[(#TITRE|couper{80})]</li>
    </ul>
    </B_autre_chem>
    </BOUCLE_chemins>

    </B_chemins>

    #SET{precedent,''}
    #SET{succession,#LISTE{#ID_ARTICLE}}
   	#SET{suivant,''}

    <BOUCLE_precedent(ARTICLES_LIES){id_article_lie=#ID_ARTICLE}{type_liaison=suivant}>
    	#SET{succession,#LISTE{#ID_ARTICLE}|array_merge{#GET{succession}}}
    	[(#ID_ARTICLE_LIE|=={#_article:ID_ARTICLE}|oui)
    		#SET{precedent,#ID_ARTICLE}
    	]
    	<BOUCLE_precedents(Boucle_precedent) />
    </BOUCLE_precedent>

    <BOUCLE_suivant(ARTICLES_LIES){id_article=#ID_ARTICLE}{type_liaison=suivant}>
    	#SET{succession,#GET{succession}|push{#ID_ARTICLE_LIE}}

    		#SET{suivant,#ID_ARTICLE_LIE}

    	<BOUCLE_suivants(ARTICLES_LIES){id_article=#ID_ARTICLE_LIE}{type_liaison=suivant}>
    		#SET{succession,#GET{succession}|push{#ID_ARTICLE_LIE}}
    		<BOUCLE_suivantsr(BOUCLE_suivants) />
    	</BOUCLE_suivants>
    </BOUCLE_suivant>

    <B_succession>
    <ul class='breadcrumb succession'>
			<li><strong><:geek:succession_article:> :&nbsp;</strong></li>
    <BOUCLE_succession(ARTICLES){id_article IN #GET{succession}}{si #GET{succession}|count|>{1}} >
    	<li class='breadcrumb-item[ (#EXPOSE)]'>
    	[(#ID_ARTICLE|!={#_article:ID_ARTICLE}|oui)<a href="#URL_ARTICLE"[ rel="next"(#ID_ARTICLE|=={#GET{suivant}}|oui)][ rel="prev"(#ID_ARTICLE|=={#GET{precedent}}|oui)]>]
    	#TITRE
    	[(#ID_ARTICLE|!={#_article:ID_ARTICLE}|oui)</a>]

    	</li>
    </BOUCLE_succession>
    </ul>

    </B_succession>
</BOUCLE_article>
</div>
