<BOUCLE_auteurs(AUTEURS){id_article}>
<h2 class='h2'><:geek:apropos:></h2>
[<div class='info bio[ (#EDIT{bio})]'>
[(#LOGO_AUTEUR|image_reduire{60})](#BIO)
</div>]
<div class="nom [(#EDIT{nom})]">#NOM</div>
</BOUCLE_auteurs>
