[<h2 class='apropos'><:geek:apropos:></h2><div id="descriptif_site_spip" class="info">(#DESCRIPTIF_SITE_SPIP)</div>]
[(#REM) Liens des forums ]
#SET{liste,#LISTE}
<BOUCLE_art(ARTICLES)>
<BOUCLE_forum(FORUMS){id_article}{!par date}{0,1}>
#SET{liste,#GET{liste}|push{#ID_FORUM}}
</BOUCLE_forum>
</BOUCLE_art>
<B_forums_liens>
<div class="liste forums">
	<h2 class="h2"><:derniers_commentaires:></h2>
	<div class="liste-items">
		<BOUCLE_forums_liens(FORUMS) {id_forum IN #GET{liste}} {!par date}{0,5}>
		<div class="item">
			[<abbr class="published" title="[(#DATE|date_iso)]">(#DATE|affdate_jourcourt)</abbr><span class="sep"> &ndash; </span>]
			<a href="[(#INCLURE{fond=inclure/obsolete}{id_article}|?{#URL_ARTICLE|parametre_url{archive,oui},#URL_ARTICLE}|ancre_url{forum#ID_FORUM})]"[ title="(#TITRE|attribut_html|couper{80})"]>[(#TEXTE|couper{80})]</a>
		</div>
		</BOUCLE_forums_liens>
	</div>
</div>
</B_forums_liens>
