	[(#REM) Menu de navigation mots-cles ]
	#SET{titre,#INFO_TITRE{rubrique,#ID_SECTEUR}}
    <B_sites>
	<div class="liste sites">
		<h2 class="h2"><:geek:site_langage{lang=#GET{titre}}:></h2>
		<ul class="liste-items">
			<BOUCLE_sites(SITES){syndication=non} {branche #ID_SECTEUR} {par nom_site}>
			<li class="item"><a href="#URL_SITE" class='spip_out'>#NOM_SITE</a></li>
			</BOUCLE_sites>
		</ul>
	</div>
	</B_sites>

