<BOUCLE_contenu_article(ARTICLES){id_article}>
<INCLURE{fond=inclure/redirect301}{id_article}>

<div class="contenu-principal" id="contenu-principal">
	<div class="cartouche">

		[<p class="#EDIT{surtitre} surtitre">(#SURTITRE)</p>]
		<h1 class="h1 #EDIT{titre}">[(#INCLURE{fond=inclure/logo-rubrique,id_article}|image_reduire{200})]#TITRE</h1>
		[<p class="#EDIT{soustitre} soustitre">(#SOUSTITRE)</p>]

		<p class="info-publi"><abbr class="published" title="[(#DATE|date_iso)]">[(#DATE|nom_jour) ][(#DATE|affdate)]</abbr><span class="sep">,</span>
		[(#DATE|affdate{'Y-m-d'}|=={#DATE_MODIF|affdate{Y-m-d}}|non) <:geek:maj:> [(#DATE_MODIF|nom_jour) ][(#DATE_MODIF|affdate)]<span class='sep'>, </span> ]
		[<span class="auteurs"><:par_auteur:> (#LESAUTEURS)</span>]
		[<br /><a class='RSS' href="#URL_PAGE{rss_forum_article,id_article=#ID_ARTICLE}">(#CHEMIN{feed.png}|balise_img{<:icone_suivi_activite:>})&nbsp;<:geek:rss_forum:></a>]
		</p>
		[(#REM) Inclure le modele des liens de traductions ]


		#MODELE{article_traductions}
	</div>

	<div class="surlignable">
		<BOUCLE_obsolete(ARTICLES_LIES){id_article}{type_liaison=remplace}>
		<div class="obsolete">
		#SET{titre,#INFO_TITRE{article,#ID_ARTICLE_LIE}}
		<:geek:obsolete{id_article=#ID_ARTICLE_LIE,titre=#GET{titre}}|propre|PtoBR:>
		</div>
		</BOUCLE_obsolete>
		[<div class="#EDIT{chapo} chapo">(#CHAPO|image_reduire{500,0})</div>]
		[<div class="#EDIT{texte} texte">(#TEXTE|image_reduire{500,0})</div>]
	</div>

	[<p class="#EDIT{hyperlien} hyperlien"><:voir_en_ligne:> : <a href="(#URL_SITE)" class="spip_out">[(#NOM_SITE|sinon{[(#URL_SITE|couper{80})]})]</a></p>]

	[<div class="ps">
		<h2 class="h2"><:info_ps:></h2>
		<div class="#EDIT{ps} surlignable">(#PS|image_reduire{500,0})</div>
	</div>]

[(#REM) Gestion du portfolio et des documents ]
[(#INCLURE{fond=inclure/documents}{id_article})]

</div>



[<div class="notes surlignable"><h2 class="h2 pas_surlignable"><:info_notes:></h2>(#NOTES)</div>]

[(#REM) Forum de l'article ]
<INCLURE{fond=inclure/forum}{id_article} />
[<h2 class="h2 page-link"><:repondre_article:></h2>
(#FORMULAIRE_FORUM)
]
[(#ACCEPTER_FORUM|=={non}|oui)<:forum_desactive:>]
</BOUCLE_contenu_article>
