<BOUCLE_contenu_auteur(AUTEURS){id_auteur}>


<div class="contenu-principal">
	<div class="vcard">[(#REM) microformat vcard]
	<div class="cartouche">
		[(#LOGO_AUTEUR||image_reduire{200,200})]
		<h1 class="h1 #EDIT{qui} fn">#NOM</h1>
	</div>

	<div class='texte[ (#EDIT{bio})]'>#BIO</div>
	[<p class="#EDIT{hyperlien} hyperlien"><:voir_en_ligne:> : <a href="(#URL_SITE)" class="url spip_out">[(#NOM_SITE|sinon{[(#URL_SITE|couper{80})]})]</a></p>]
	</div>[(#REM) / vcard]


</div>
<div class="ajax">
	[(#FORMULAIRE_FORMIDABLE{contact,#ARRAY,#ARRAY{traiter_email_destinataires,#EMAIL}})]
</div>
[<div class="notes"><h2 class="h2"><:info_notes:></h2>(#NOTES)</div>]

</BOUCLE_contenu_auteur>
