<B_invites>
<h1><:geek:invites:></h1>

<div class="chapo">
<:geek:invites_introduction|propre:>
</div>

<div class="liste auteurs">
<div class="liste-items">
<BOUCLE_invites(AUTEURS){id_auteur!=1}{par nom}>
<div class="item hentry">
	[<h2 class="h2 hentry-title #EDIT{nom}">(#NOM)</h2>]
	[<div class="bio #EDIT{bio}">#LOGO_AUTEUR(#BIO)</div>]
	[<div class="site #EDIT"><a href="#URL_SITE" class="spip_out">(#NOM_SITE)</a>]
	<INCLURE{fond=inclure/articles-auteur}{env}{id_auteur}{ajax} />
	[<div class="ajax">(#FORMULAIRE_ECRIRE_AUTEUR)</div>]
</div>
</BOUCLE_invites>

</div>
</div>
</B_invites>

