
<div class="contenu-principal">
	[<div class="cartouche">
		<h1 class="h1"><:resultats_recherche:></h1>
		<p class="soustitre">&#171;&nbsp;(#RECHERCHE)&nbsp;&#187;</p>
	</div>]

	[(#REM) Articles trouves ]
	<B_articles>
	<div class="liste resultats articles">
		#ANCRE_PAGINATION
		<h2 class="h2"><:articles:> (#GRAND_TOTAL)</h2>
		<div class="liste-items">
			<BOUCLE_articles(ARTICLES) {recherche} {par points}{inverse} {pagination}>
			<div class="item"><a href="[(#INCLURE{fond=inclure/obsolete}{id_article}|?{#URL_ARTICLE|parametre_url{archive,oui},#URL_ARTICLE})]">#TITRE</a></div>
			</BOUCLE_articles>
		</div>
		[<nav class="pagination">(#PAGINATION)</nav>]
	</div>
	</B_articles>

</div>
