<BOUCLE_contenu_rubrique(RUBRIQUES){id_rubrique}>

<div class="contenu-principal">

	<div class="cartouche">

		<h1 class="h1 #EDIT{titre}">[(#LOGO_RUBRIQUE|image_reduire{200})] #TITRE</h1>
		<p class="info-publi">
		<BOUCLE_dernier(ARTICLES){!par date}{0,1}{branche}>[<span class="published"><:dernier_ajout:> : [(#DATE|nom_jour) ](#DATE|affdate).</span>]</BOUCLE_dernier>
		[<br /><:geek:credit_logo:> : <a href="#CREDIT_LOGO">(#CREDIT_LOGO)</a>.]
		[<br /><a class='RSS' href="#URL_PAGE{backend,id_rubrique=#ID_RUBRIQUE}">(#CHEMIN{feed.png}|balise_img{<:icone_suivi_activite:>})&nbsp;<:geek:rss:></a>]
		</p>
	</div>

	[<div class="#EDIT{texte} chapo">(#TEXTE)</div>]

	[<div class="notes"><h2 class="h2"><:info_notes:></h2>(#NOTES)</div>]
</div>

    <INCLURE{fond=inclure/contenu-rubrique}{env}{ajax} />


[(#REM) Gestion du portfolio et des documents ]
[(#INCLURE{fond=inclure/documents}{id_rubrique})]


</BOUCLE_contenu_rubrique>
