<div class="contenu-principal">
	<h1 class="h1 invisible">#NOM_SITE_SPIP</h1>
</div>

<B_articles>
<div class="liste articles sommaire">
	#ANCRE_PAGINATION
	<div class="liste-items">
		<BOUCLE_articles(ARTICLES){page=''} {!par date} {pagination 5}>
		<INCLURE{fond=inclure/article-resume,id_article}>
		</BOUCLE_articles>
	</div>
	[<nav class="pagination">(#PAGINATION)</nav>]
</div>
</B_articles>
