


<div class="contenu-principal">
	<div class="vcard">[(#REM) microformat vcard]
	<div class="cartouche">

		<h1 class='h1'>Documents à télécharger</h1>
	</div>
	<B_documents>
	<table class='spip'>
		<caption>Documents à télécharger</caption>
		<thead>
			<tr class='row_first'>
			<td>Titre</td>
			<td>Descriptif</td>
			<td>Type</td>
			<td>Article(s)</td>
			</tr>
		</thead>
	<BOUCLE_documents(DOCUMENTS){par titre}>
		<tr[ class='(#COMPTEUR_BOUCLE|alterner{row_odd,row_even})']>
			<td><a href="#FICHIER" type="#MIME_TYPE">#TITRE</a></td>
			<td>#DESCRIPTIF</td>
			<td>#TYPE_DOCUMENT</td>
			<td><BOUCLE_articles(ARTICLES){id_document}{" - "}><a
href="#URL_ARTICLE">[(#TITRE|couper{80})]</a></BOUCLE_articles></td>
		</tr>
	</BOUCLE_documents>
	</table>
	</B_documents>
	</div>

</div>


</BOUCLE_contenu_auteur>
