<p class="colophon">
<BOUCLE_annee(ARTICLES){par date}{0,1}>[(#DATE|annee|!={#VAL{Y}|date}|oui)[(#DATE|annee)]]</BOUCLE_annee>-</B_annee>[(#DATE|annee) ] &mdash; #NOM_SITE_SPIP<br />
<a rel="contents" href="#URL_PAGE{plan}"><:plan_site:></a><?php
if (isset($GLOBALS['visiteur_session']['id_auteur']) AND $GLOBALS['visiteur_session']['id_auteur']) {
?><span class="sep"> | </span><a href="#URL_LOGOUT" rel="nofollow"><:icone_deconnecter:></a><?php
	if (include_spip('inc/autoriser') AND autoriser('ecrire')){
	?><span class="sep"> | </span><a href="#EVAL{_DIR_RESTREINT_ABS}"><:espace_prive:></a><?php
	}
}
else {
?><span class="sep"> | </span><a href="[(#URL_PAGE{login}|parametre_url{url,#SELF|parametre_url{url,''}})]" rel="nofollow" class='login_modal'><:lien_connecter:></a><?php
}
?><span class="sep"> |
</span><a href="#URL_PAGE{backend}" rel="alternate" title="<:syndiquer_site:>">[(#CHEMIN{img/feed.svg}|balise_svg{<:icone_suivi_activite:>})]&nbsp;RSS&nbsp;2.0</a><span
class='sep'> | </span> <a href="#URL_PAGE{comments-rss}" rel="alternate" title="Syndiquer commentaires"><img src="#CHEMIN{feed.png}" alt="<:icone_suivi_activite:>" width="16" height="16"
/>&nbsp;RSS&nbsp;2.0
- Commentaires</a><span class='sep'> | </span><a class="spip_out"
href="http://creativecommons.org/licenses/by-sa/3.0/fr/">[(#VAL{http://i.creativecommons.org/l/by-sa/3.0/nl/88x31.png}|image_reduire{48}|inserer_attribut{alt,Creative
Commons by-sa 3.0 France})]</a>
</p>
<small class="generator"><a href="https://www.spip.net/" rel="generator" title="<:site_realise_avec_spip:>" class="spip_out">[(#CHEMIN{img/spip.svg}|balise_svg{SPIP})]</a></small>
