<BOUCLE_article_head(ARTICLES) {id_article}>
<title>[(#TITRE|textebrut) - ][(#NOM_SITE_SPIP|textebrut)]</title>
[<meta name="description" content="(#CHAPO|attribut_html)" />]
[<link rel="canonical" href="(#URL_ARTICLE|url_absolue)" />]
[(#INCLURE{fond=inclure/obsolete}{id_article}|oui)<meta name="robots" content="noindex,follow">]
</BOUCLE_article_head>
